@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-darker text-light font-sans;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-darker;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-700 rounded;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}
